.flag {
  background:       no-repeat center;
  background-size:  100% auto;
  box-shadow:       inset 0 0 1px #e0e0e0;
  display:          inline-block;
  height:           20px;
  margin-right:     10px;
  width:            30px;
}

.flag.AF {background-image: url("../images/flags/4x3/af.svg");}
.flag.AX {background-image: url("../images/flags/4x3/ax.svg");}
.flag.AL {background-image: url("../images/flags/4x3/al.svg");}
.flag.DZ {background-image: url("../images/flags/4x3/dz.svg");}
.flag.AS {background-image: url("../images/flags/4x3/as.svg");}
.flag.AD {background-image: url("../images/flags/4x3/ad.svg");}
.flag.AO {background-image: url("../images/flags/4x3/ao.svg");}
.flag.AI {background-image: url("../images/flags/4x3/ai.svg");}
.flag.AQ {background-image: url("../images/flags/4x3/aq.svg");}
.flag.AG {background-image: url("../images/flags/4x3/ag.svg");}
.flag.AR {background-image: url("../images/flags/4x3/ar.svg");}
.flag.AM {background-image: url("../images/flags/4x3/am.svg");}
.flag.AW {background-image: url("../images/flags/4x3/aw.svg");}
.flag.AU {background-image: url("../images/flags/4x3/au.svg");}
.flag.AT {background-image: url("../images/flags/4x3/at.svg");}
.flag.AZ {background-image: url("../images/flags/4x3/az.svg");}
.flag.BS {background-image: url("../images/flags/4x3/bs.svg");}
.flag.BH {background-image: url("../images/flags/4x3/bh.svg");}
.flag.BD {background-image: url("../images/flags/4x3/bd.svg");}
.flag.BB {background-image: url("../images/flags/4x3/bb.svg");}
.flag.BY {background-image: url("../images/flags/4x3/by.svg");}
.flag.BE {background-image: url("../images/flags/4x3/be.svg");}
.flag.BZ {background-image: url("../images/flags/4x3/bz.svg");}
.flag.BJ {background-image: url("../images/flags/4x3/bj.svg");}
.flag.BM {background-image: url("../images/flags/4x3/bm.svg");}
.flag.BT {background-image: url("../images/flags/4x3/bt.svg");}
.flag.BO {background-image: url("../images/flags/4x3/bo.svg");}
.flag.BQ {background-image: url("../images/flags/4x3/bq.svg");}
.flag.BA {background-image: url("../images/flags/4x3/ba.svg");}
.flag.BW {background-image: url("../images/flags/4x3/bw.svg");}
.flag.BV {background-image: url("../images/flags/4x3/bv.svg");}
.flag.BR {background-image: url("../images/flags/4x3/br.svg");}
.flag.IO {background-image: url("../images/flags/4x3/io.svg");}
.flag.VG {background-image: url("../images/flags/4x3/vg.svg");}
.flag.BN {background-image: url("../images/flags/4x3/bn.svg");}
.flag.BG {background-image: url("../images/flags/4x3/bg.svg");}
.flag.BF {background-image: url("../images/flags/4x3/bf.svg");}
.flag.BI {background-image: url("../images/flags/4x3/bi.svg");}
.flag.KH {background-image: url("../images/flags/4x3/kh.svg");}
.flag.CM {background-image: url("../images/flags/4x3/cm.svg");}
.flag.CA {background-image: url("../images/flags/4x3/ca.svg");}
.flag.CV {background-image: url("../images/flags/4x3/cv.svg");}
.flag.KY {background-image: url("../images/flags/4x3/ky.svg");}
.flag.CF {background-image: url("../images/flags/4x3/cf.svg");}
.flag.TD {background-image: url("../images/flags/4x3/td.svg");}
.flag.CL {background-image: url("../images/flags/4x3/cl.svg");}
.flag.CN {background-image: url("../images/flags/4x3/cn.svg");}
.flag.CX {background-image: url("../images/flags/4x3/cx.svg");}
.flag.CC {background-image: url("../images/flags/4x3/cc.svg");}
.flag.CO {background-image: url("../images/flags/4x3/co.svg");}
.flag.KM {background-image: url("../images/flags/4x3/km.svg");}
.flag.CK {background-image: url("../images/flags/4x3/ck.svg");}
.flag.CR {background-image: url("../images/flags/4x3/cr.svg");}
.flag.HR {background-image: url("../images/flags/4x3/hr.svg");}
.flag.CU {background-image: url("../images/flags/4x3/cu.svg");}
.flag.CW {background-image: url("../images/flags/4x3/cw.svg");}
.flag.CY {background-image: url("../images/flags/4x3/cy.svg");}
.flag.CZ {background-image: url("../images/flags/4x3/cz.svg");}
.flag.DK {background-image: url("../images/flags/4x3/dk.svg");}
.flag.DJ {background-image: url("../images/flags/4x3/dj.svg");}
.flag.DM {background-image: url("../images/flags/4x3/dm.svg");}
.flag.DO {background-image: url("../images/flags/4x3/do.svg");}
.flag.CD {background-image: url("../images/flags/4x3/cd.svg");}
.flag.EC {background-image: url("../images/flags/4x3/ec.svg");}
.flag.EG {background-image: url("../images/flags/4x3/eg.svg");}
.flag.SV {background-image: url("../images/flags/4x3/sv.svg");}
.flag.GQ {background-image: url("../images/flags/4x3/gq.svg");}
.flag.ER {background-image: url("../images/flags/4x3/er.svg");}
.flag.EE {background-image: url("../images/flags/4x3/ee.svg");}
.flag.ET {background-image: url("../images/flags/4x3/et.svg");}
.flag.FK {background-image: url("../images/flags/4x3/fk.svg");}
.flag.FO {background-image: url("../images/flags/4x3/fo.svg");}
.flag.FJ {background-image: url("../images/flags/4x3/fj.svg");}
.flag.FI {background-image: url("../images/flags/4x3/fi.svg");}
.flag.FR {background-image: url("../images/flags/4x3/fr.svg");}
.flag.GF {background-image: url("../images/flags/4x3/gf.svg");}
.flag.PF {background-image: url("../images/flags/4x3/pf.svg");}
.flag.TF {background-image: url("../images/flags/4x3/tf.svg");}
.flag.GA {background-image: url("../images/flags/4x3/ga.svg");}
.flag.GM {background-image: url("../images/flags/4x3/gm.svg");}
.flag.GE {background-image: url("../images/flags/4x3/ge.svg");}
.flag.DE {background-image: url("../images/flags/4x3/de.svg");}
.flag.GH {background-image: url("../images/flags/4x3/gh.svg");}
.flag.GI {background-image: url("../images/flags/4x3/gi.svg");}
.flag.GR {background-image: url("../images/flags/4x3/gr.svg");}
.flag.GL {background-image: url("../images/flags/4x3/gl.svg");}
.flag.GD {background-image: url("../images/flags/4x3/gd.svg");}
.flag.GP {background-image: url("../images/flags/4x3/gp.svg");}
.flag.GU {background-image: url("../images/flags/4x3/gu.svg");}
.flag.GT {background-image: url("../images/flags/4x3/gt.svg");}
.flag.GG {background-image: url("../images/flags/4x3/gg.svg");}
.flag.GN {background-image: url("../images/flags/4x3/gn.svg");}
.flag.GW {background-image: url("../images/flags/4x3/gw.svg");}
.flag.GY {background-image: url("../images/flags/4x3/gy.svg");}
.flag.HT {background-image: url("../images/flags/4x3/ht.svg");}
.flag.HM {background-image: url("../images/flags/4x3/hm.svg");}
.flag.HN {background-image: url("../images/flags/4x3/hn.svg");}
.flag.HK {background-image: url("../images/flags/4x3/hk.svg");}
.flag.HU {background-image: url("../images/flags/4x3/hu.svg");}
.flag.IS {background-image: url("../images/flags/4x3/is.svg");}
.flag.IN {background-image: url("../images/flags/4x3/in.svg");}
.flag.ID {background-image: url("../images/flags/4x3/id.svg");}
.flag.IR {background-image: url("../images/flags/4x3/ir.svg");}
.flag.IQ {background-image: url("../images/flags/4x3/iq.svg");}
.flag.IE {background-image: url("../images/flags/4x3/ie.svg");}
.flag.IM {background-image: url("../images/flags/4x3/im.svg");}
.flag.IL {background-image: url("../images/flags/4x3/il.svg");}
.flag.IT {background-image: url("../images/flags/4x3/it.svg");}
.flag.CI {background-image: url("../images/flags/4x3/ci.svg");}
.flag.JM {background-image: url("../images/flags/4x3/jm.svg");}
.flag.JP {background-image: url("../images/flags/4x3/jp.svg");}
.flag.JE {background-image: url("../images/flags/4x3/je.svg");}
.flag.JO {background-image: url("../images/flags/4x3/jo.svg");}
.flag.KZ {background-image: url("../images/flags/4x3/kz.svg");}
.flag.KE {background-image: url("../images/flags/4x3/ke.svg");}
.flag.KI {background-image: url("../images/flags/4x3/ki.svg");}
.flag.XK {background-image: url("../images/flags/4x3/xk.svg");}
.flag.KW {background-image: url("../images/flags/4x3/kw.svg");}
.flag.KG {background-image: url("../images/flags/4x3/kg.svg");}
.flag.LA {background-image: url("../images/flags/4x3/la.svg");}
.flag.LV {background-image: url("../images/flags/4x3/lv.svg");}
.flag.LB {background-image: url("../images/flags/4x3/lb.svg");}
.flag.LS {background-image: url("../images/flags/4x3/ls.svg");}
.flag.LR {background-image: url("../images/flags/4x3/lr.svg");}
.flag.LY {background-image: url("../images/flags/4x3/ly.svg");}
.flag.LI {background-image: url("../images/flags/4x3/li.svg");}
.flag.LT {background-image: url("../images/flags/4x3/lt.svg");}
.flag.LU {background-image: url("../images/flags/4x3/lu.svg");}
.flag.MO {background-image: url("../images/flags/4x3/mo.svg");}
.flag.MK {background-image: url("../images/flags/4x3/mk.svg");}
.flag.MG {background-image: url("../images/flags/4x3/mg.svg");}
.flag.MW {background-image: url("../images/flags/4x3/mw.svg");}
.flag.MY {background-image: url("../images/flags/4x3/my.svg");}
.flag.MV {background-image: url("../images/flags/4x3/mv.svg");}
.flag.ML {background-image: url("../images/flags/4x3/ml.svg");}
.flag.MT {background-image: url("../images/flags/4x3/mt.svg");}
.flag.MH {background-image: url("../images/flags/4x3/mh.svg");}
.flag.MQ {background-image: url("../images/flags/4x3/mq.svg");}
.flag.MR {background-image: url("../images/flags/4x3/mr.svg");}
.flag.MU {background-image: url("../images/flags/4x3/mu.svg");}
.flag.YT {background-image: url("../images/flags/4x3/yt.svg");}
.flag.MX {background-image: url("../images/flags/4x3/mx.svg");}
.flag.FM {background-image: url("../images/flags/4x3/fm.svg");}
.flag.MD {background-image: url("../images/flags/4x3/md.svg");}
.flag.MC {background-image: url("../images/flags/4x3/mc.svg");}
.flag.MN {background-image: url("../images/flags/4x3/mn.svg");}
.flag.ME {background-image: url("../images/flags/4x3/me.svg");}
.flag.MS {background-image: url("../images/flags/4x3/ms.svg");}
.flag.MA {background-image: url("../images/flags/4x3/ma.svg");}
.flag.MZ {background-image: url("../images/flags/4x3/mz.svg");}
.flag.MM {background-image: url("../images/flags/4x3/mm.svg");}
.flag.NA {background-image: url("../images/flags/4x3/na.svg");}
.flag.NR {background-image: url("../images/flags/4x3/nr.svg");}
.flag.NP {background-image: url("../images/flags/4x3/np.svg");}
.flag.NL {background-image: url("../images/flags/4x3/nl.svg");}
.flag.NC {background-image: url("../images/flags/4x3/nc.svg");}
.flag.NZ {background-image: url("../images/flags/4x3/nz.svg");}
.flag.NI {background-image: url("../images/flags/4x3/ni.svg");}
.flag.NE {background-image: url("../images/flags/4x3/ne.svg");}
.flag.NG {background-image: url("../images/flags/4x3/ng.svg");}
.flag.NU {background-image: url("../images/flags/4x3/nu.svg");}
.flag.NF {background-image: url("../images/flags/4x3/nf.svg");}
.flag.KP {background-image: url("../images/flags/4x3/kp.svg");}
.flag.MP {background-image: url("../images/flags/4x3/mp.svg");}
.flag.NO {background-image: url("../images/flags/4x3/no.svg");}
.flag.OM {background-image: url("../images/flags/4x3/om.svg");}
.flag.PK {background-image: url("../images/flags/4x3/pk.svg");}
.flag.PW {background-image: url("../images/flags/4x3/pw.svg");}
.flag.PS {background-image: url("../images/flags/4x3/ps.svg");}
.flag.PA {background-image: url("../images/flags/4x3/pa.svg");}
.flag.PG {background-image: url("../images/flags/4x3/pg.svg");}
.flag.PY {background-image: url("../images/flags/4x3/py.svg");}
.flag.PE {background-image: url("../images/flags/4x3/pe.svg");}
.flag.PH {background-image: url("../images/flags/4x3/ph.svg");}
.flag.PN {background-image: url("../images/flags/4x3/pn.svg");}
.flag.PL {background-image: url("../images/flags/4x3/pl.svg");}
.flag.PT {background-image: url("../images/flags/4x3/pt.svg");}
.flag.PR {background-image: url("../images/flags/4x3/pr.svg");}
.flag.QA {background-image: url("../images/flags/4x3/qa.svg");}
.flag.CG {background-image: url("../images/flags/4x3/cg.svg");}
.flag.RE {background-image: url("../images/flags/4x3/re.svg");}
.flag.RO {background-image: url("../images/flags/4x3/ro.svg");}
.flag.RU {background-image: url("../images/flags/4x3/ru.svg");}
.flag.RW {background-image: url("../images/flags/4x3/rw.svg");}
.flag.BL {background-image: url("../images/flags/4x3/bl.svg");}
.flag.SH {background-image: url("../images/flags/4x3/sh.svg");}
.flag.KN {background-image: url("../images/flags/4x3/kn.svg");}
.flag.LC {background-image: url("../images/flags/4x3/lc.svg");}
.flag.MF {background-image: url("../images/flags/4x3/mf.svg");}
.flag.PM {background-image: url("../images/flags/4x3/pm.svg");}
.flag.VC {background-image: url("../images/flags/4x3/vc.svg");}
.flag.WS {background-image: url("../images/flags/4x3/ws.svg");}
.flag.SM {background-image: url("../images/flags/4x3/sm.svg");}
.flag.ST {background-image: url("../images/flags/4x3/st.svg");}
.flag.SA {background-image: url("../images/flags/4x3/sa.svg");}
.flag.SN {background-image: url("../images/flags/4x3/sn.svg");}
.flag.RS {background-image: url("../images/flags/4x3/rs.svg");}
.flag.SC {background-image: url("../images/flags/4x3/sc.svg");}
.flag.SL {background-image: url("../images/flags/4x3/sl.svg");}
.flag.SG {background-image: url("../images/flags/4x3/sg.svg");}
.flag.SX {background-image: url("../images/flags/4x3/sx.svg");}
.flag.SK {background-image: url("../images/flags/4x3/sk.svg");}
.flag.SI {background-image: url("../images/flags/4x3/si.svg");}
.flag.SB {background-image: url("../images/flags/4x3/sb.svg");}
.flag.SO {background-image: url("../images/flags/4x3/so.svg");}
.flag.ZA {background-image: url("../images/flags/4x3/za.svg");}
.flag.GS {background-image: url("../images/flags/4x3/gs.svg");}
.flag.KR {background-image: url("../images/flags/4x3/kr.svg");}
.flag.SS {background-image: url("../images/flags/4x3/ss.svg");}
.flag.ES {background-image: url("../images/flags/4x3/es.svg");}
.flag.LK {background-image: url("../images/flags/4x3/lk.svg");}
.flag.SD {background-image: url("../images/flags/4x3/sd.svg");}
.flag.SR {background-image: url("../images/flags/4x3/sr.svg");}
.flag.SJ {background-image: url("../images/flags/4x3/sj.svg");}
.flag.SZ {background-image: url("../images/flags/4x3/sz.svg");}
.flag.SE {background-image: url("../images/flags/4x3/se.svg");}
.flag.CH {background-image: url("../images/flags/4x3/ch.svg");}
.flag.SY {background-image: url("../images/flags/4x3/sy.svg");}
.flag.TW {background-image: url("../images/flags/4x3/tw.svg");}
.flag.TJ {background-image: url("../images/flags/4x3/tj.svg");}
.flag.TZ {background-image: url("../images/flags/4x3/tz.svg");}
.flag.TH {background-image: url("../images/flags/4x3/th.svg");}
.flag.TL {background-image: url("../images/flags/4x3/tl.svg");}
.flag.TG {background-image: url("../images/flags/4x3/tg.svg");}
.flag.TK {background-image: url("../images/flags/4x3/tk.svg");}
.flag.TO {background-image: url("../images/flags/4x3/to.svg");}
.flag.TT {background-image: url("../images/flags/4x3/tt.svg");}
.flag.TN {background-image: url("../images/flags/4x3/tn.svg");}
.flag.TR {background-image: url("../images/flags/4x3/tr.svg");}
.flag.TM {background-image: url("../images/flags/4x3/tm.svg");}
.flag.TC {background-image: url("../images/flags/4x3/tc.svg");}
.flag.TV {background-image: url("../images/flags/4x3/tv.svg");}
.flag.UG {background-image: url("../images/flags/4x3/ug.svg");}
.flag.UA {background-image: url("../images/flags/4x3/ua.svg");}
.flag.AE {background-image: url("../images/flags/4x3/ae.svg");}
.flag.GB {background-image: url("../images/flags/4x3/gb.svg");}
.flag.US {background-image: url("../images/flags/4x3/us.svg");}
.flag.UM {background-image: url("../images/flags/4x3/um.svg");}
.flag.VI {background-image: url("../images/flags/4x3/vi.svg");}
.flag.UY {background-image: url("../images/flags/4x3/uy.svg");}
.flag.UZ {background-image: url("../images/flags/4x3/uz.svg");}
.flag.VU {background-image: url("../images/flags/4x3/vu.svg");}
.flag.VA {background-image: url("../images/flags/4x3/va.svg");}
.flag.VE {background-image: url("../images/flags/4x3/ve.svg");}
.flag.VN {background-image: url("../images/flags/4x3/vn.svg");}
.flag.WF {background-image: url("../images/flags/4x3/wf.svg");}
.flag.EH {background-image: url("../images/flags/4x3/eh.svg");}
.flag.YE {background-image: url("../images/flags/4x3/ye.svg");}
.flag.ZM {background-image: url("../images/flags/4x3/zm.svg");}
.flag.ZW {background-image: url("../images/flags/4x3/zw.svg");}